

<div id="aside4"><h3> <%= t(:tariff) %>:  (<%= t(:with_pvm) %>)</h3>
<table><tr>
		<td></td>
		<td></td>
		<td id = bord><strong>08..18<%= t(:h) %>.</strong></td>
		<td id = bord><strong>18..24<%= t(:h) %>.</strong></td>
		<td id = bord><strong>00..08<%= t(:h) %>.</strong></td></tr><tr>
		<td id = bord1><%= t(:monday) %>:</td>
		<td id = bord1></td><td id = bord>40Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td></tr><tr>
		<td id = bord1><%= t(:tuesday) %>:</td>
		<td id = bord1></td>
		<td id = bord>40Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td></tr><tr>
		<td id = bord1><%= t(:wednesday) %>:</td>        
		<td id = bord1></td>
		<td id = bord>40Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td></tr><tr>
		<td id = bord1><%= t(:thursday) %>:</td>
		<td id = bord1></td>
		<td id = bord>40Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td></tr><tr>
		<td id = bord1><%= t(:friday) %>:</td>
		<td id = bord1></td>
		<td id = bord>80Lt/<%= t(:h) %></td>
		<td id = bord>90Lt/<%= t(:h) %></td>
		<td id = bord>90Lt/<%= t(:h) %></td></tr><tr>
		<td id = bord1><%= t(:saturday) %>:</td> 
		<td id = bord1></td>
		<td id = bord>90Lt/<%= t(:h) %></td>
		<td id = bord>110Lt/<%= t(:h) %></td>
		<td id = bord>110Lt/<%= t(:h) %></td></tr><tr>
		<td id = bord1><%= t(:sunday) %>:</td>
		<td id = bord1></td>
		<td id = bord>60Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td>
		<td id = bord>80Lt/<%= t(:h) %></td></tr><tr>
		<td id = bord1><%= t(:holidays) %>:</td>
		<td id = bord1></td>
		<td id = bord>90Lt/<%= t(:h) %></td>
		<td id = bord>110Lt/<%= t(:h) %></td>
		<td id = bord>110Lt/<%= t(:h) %></td> </tr>
</table>
</div>


