


<div id="aside">
	<table><tr>  
<td><%= t(:your_chosen_category) %>:</td>
<th><%= t(@post.category) %></th></tr><tr>
<td><%= t(:beginning) %>:</td>
<th><%= t(@post.begin.to_date) %></tr><tr>
<td><%= t(:finish) %>:</td>
<th><%= t(@post.end.to_date) %></th></tr><tr>
<td><%= t(:people_count) %>:</td>
<th><%= t(@post.people) %></th></tr><tr>
<td><%= t(:sum) %>:</td>
<th><%= @price_for_banquet_hall %> Lt</th></tr>
<td><% if @post.text? %><%= t(:notes) %>:<% end %></td>
<th><%= @post.text %></th></tr>
</table>

</div>
<h2><%= t(:your_contact_information) %></h2>
<%= render 'form' %>

<%= link_to t(:back), edit_post_path(id: @post.id) %>
